<h1>New task</h1>

<form id="new-task" name="task">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="done"> done:</label>
    <input type="text" name="done" id="done" value="<%= done %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Task" />
  </div>

</form>

<a href="#/index">Back</a>